#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Ll]ogs/
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.[Rr]e[Ss]harper
*.sig
*.vssscc
*.vspscc
*.vsscc
*.orig
test.html
*.vs10x
*.gpState
*.dbmdl
[Ss]ql/
*.schemaview
*.mdf
*.ldf
PersonalLinesWeb.sln.docstates
Libraries/*
*.[Ff]eature.cs
PLW.Transformation.Test/Resources/AdHocRequest.xml
PLW.Transformation.Test/Resources/EshAdHocRequest.xml
PLW.Transformation.Test/Resources/PclAdHocRequest.xml
*.ncrunch
*.ncrunchsolution
*.ncrunchproject
PersonalLinesWeb/_UpgradeReport_Files/*
PersonalLinesWeb/Backup/*
*sln.ide
*.playlist
PersonalLinesWeb.sln.DotSettings
*_Chutzpah.*.test.html
node_modules/
#include specflow.exe.config for compatibility with NuGet 2.1 package restore
packages/*
!packages/SpecFlow.1.9.0/
packages/SpecFlow.1.9.0/*
!packages/SpecFlow.1.9.0/tools/
packages/SpecFlow.1.9.0/tools/*
!packages/SpecFlow.1.9.0/tools/specflow.exe.config
OpenCoverCoverage/
TestBin/
OpenCover/

PersonalLinesWeb.sln.DotSettings.user.Corrupted.2015-02-23T15-34-35.Backup.Tmp
PersonalLinesWeb.sln.DotSettings.user.Corrupted.2015-02-23T15-34-35.Description.Tmp
PersonalLinesWeb/Scripts/tsOutput/
